.faction-pick-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  align-self: center;
}
.big-img-faction{
  width: 500px;
  background-color: #7ec932;
  flex-shrink: 0;
}
.faction-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.faction-header, .faction-draw, .faction-player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00b3ff;
  margin: 20px;
}
.faction-draw{
  height: 50px;
}
.faction-to-pick {
  background-color: #0A2463;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 43px 10px rgba(20,79,130,0.69);
  border-radius: 6px;
  background-image: url("../database/assets/playerbck.png");
  font-size: 15px;
  width: 30%;
}
.faction-details {
  display: flex;
  justify-content: center;
  background-color: #8bc34a;
  height: 637px;
}
.edgebackground{
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  top: 6%;
  background-repeat: no-repeat;
}
.faction-pick-discription{
  overflow-y: auto;
  color: wheat;
  background-color: black;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  height: 47%;
  border: 3px outset #00D1FF;
  background: radial-gradient(ellipse at center, #08E0FF 0%, #1C6EA4 0%, #000000 100%);
}