.faction-pick-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  align-self: center;
}
.big-img-faction{
  width: 500px;
  background-color: #7ec932;
  flex-shrink: 0;
}
.faction-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.faction-container-box, .faction-draw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../database/assets/preview16.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 18px 50px rgba(0,0,0,0.67);
  border-radius: 5px;
  margin: 20px;
  width: 100%;
  height: 150px;
}
.faction-container-box::before{
  background-color: #0A2463;
}
.faction-text-container{
  background-color: #0A2463;
  color: wheat;
  height: 85px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: inset 0px 0px 18px 50px rgba(0,0,0,0.67);
  border: 2px solid lightblue;
  border-radius: 5px;
}
.faction-to-pick {
  background-color: #0A2463;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 43px 10px rgba(20,79,130,0.69);
  border-radius: 6px;
  background-image: url("../database/assets/playerbck.png");
  font-size: 15px;
  width: 30%;
}
.faction-details {
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  height: 637px;
}
.edgebackground{
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  top: 6%;
  background-repeat: no-repeat;
}
.faction-pick-discription{
  overflow-y: auto;
  color: wheat;
  background-color: black;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  height: 47%;
  border: 3px outset #00D1FF;
  background: radial-gradient(ellipse at center, #08E0FF 0%, #1C6EA4 0%, #000000 100%);
}